/*

Description:        This is the main stylesheet for Velocity Arbitrage. 

Version:            1.0

Author:             Velocity Arbitrage

*/


/********************* THE RESET  *************************/

* {
    margin:0;
    padding:0;
}

body,html {
    line-height:1;
    width:100%;
    height:100%;
    font-size:100%;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust: 100%;
    background: #ffffff;
    -webkit-tap-highlight-color: #ecf1f4;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    margin:0;
    padding:0;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
    background:transparent;
}

article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
    background:transparent;
	display:block;
}

audio, canvas, video {
    display:inline-block;
    *display:inline;
    *zoom:1;
}

img, figure, embed, object, video {
	max-width: 100%
}

[hidden] {
    display: none;
}

a:active,a:hover {
    outline:0;
}

ol, ul {
    list-style: none;
}

input, select {
    vertical-align:middle;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

/*********************************************************/

/********************* GLOBAL SETTINGS  *************************/

*{margin:0; padding:0; font-size:12px; line-height:1.5em;font-weight:400;}

body, html{margin: 0;padding: 0;height: 100%;width: 100%;}

html{}

body {
    background: #F2F2F2;
}

h1 { font-size: 48px; }
h2 { font-size: 36px; }
h3 { font-size: 25px; }
h4 { font-size: 20px; }

a{outline:none;}

a.current{color:#8af6f4;}

nav ul, nav ol {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}

ul {list-style: none;}

img{border:none;}

.clear{clear:both}

.rel{position: relative;z-index: inherit;zoom: 1;}

.divider{border-bottom:1px dotted #e7e7e7;height:8px;}

.highlight{color:#FFF;background-color:#333;padding:2px;}

.float-left{float:left;}

.float-right{float:right;}

.aligncenter, div.aligncenter{display:block;margin: 0px auto 0px auto;}

.alignright{float:right;margin: 5px 0 20px 20px;}

.alignleft{float:left;margin: 5px 20px 20px 0;}

div.close {float:right; color: #fff; font-size: 12px; text-decoration: none; margin-right:5px;}

.rounded {behavior: url(border-radius.htc);}

input, 
textarea, 
input[type=search] {
	background: #f4f4f4;
	border: solid 1px #a3a3a3;
	padding: 5px 10px;
	font: 15px "Times New Roman", Times, serif;
	-webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,.1);
	-moz-box-shadow: inset 0 2px 3px rgba(0,0,0,.1);
	box-shadow: inset 0 2px 3px rgba(0,0,0,.1);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-appearance: none; /* reset webkit search style */
}

input[type=text]:focus, 
textarea:focus,
input[type=search]:focus {
	background: #fff;
	border-color: #333;
	outline: none; /* remove outline */
}

.placeholder {
	color: #bbb;
}

::-webkit-input-placeholder {
	color: #bbb;
}

:-moz-placeholder {
	color: #bbb;
}

input[type="search"]::-webkit-search-decoration, 
input[type="search"]::-webkit-search-cancel-button {
	display: none;
}
 
/*********************************************************************/

/*************************** NAVIGATION *********************************/


nav ul {
    list-style:none;
    float: right;
    margin: 20px 7px 0px 0px;
}

nav ul li {
    float:left;
    margin-left:20px;
    height: 14px;
    font-size: 14px;
}

nav ul li:last-child {
    border-right: none;


}

nav ul li a:hover {
    color: #739fcd;
}

nav ul li a {
    font-size: 14px;
    letter-spacing: 1px;
    line-height:14px;
    float:left;
    text-decoration: none;
    color: #7d7d7d;
    font-family: 'Source Sans Pro', sans-serif;
}

nav ul li a.active {
    color: #739fcd;
}

#mobile-nav {
    display:none;
    background: url(../images/mobile-nav.png);
    width:38px;
    height: 38px;
    float: right;
    margin: 9px 8px 0px 0px;
    cursor: pointer;
 }


/*******************************************************************/

#main-container {
    min-height:100%;
    position:relative;
    overflow: hidden;
}

.site-container {
    width: 1017px;
    margin: 0px auto;
}

header {
    background: #ffffff;
    height: 60px;
    border-bottom: 1px solid #6d8cac;
}

#logo {
    float: left;
    background: url(../images/logo.png);
    width: 258px;
    height: 36px;
    margin-top: 12px;
}

#top-half {
    background: url(../images/top-pattern.png) repeat-x;
    height: 374px;
    overflow: hidden;
}

#slide-content {
    background: url(../images/slide-pattern.png);
    float: left;
    margin: 30px 0px 0px 0px;
    z-index: 99999999;
    overflow: hidden;
    width: 1017px;
    height: 305px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background-color: #fff;
    border: 4px solid #5884ae;
    text-align: center;
}

#top-half h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 70px;
    line-height: 74px;
    font-weight: 300;
    color: #739fcd;
    width: 690px;
    margin: 60px auto;
}

#mid-hr {
    width: 100%;
    height: 1px;
    background: #a2c1e1;
}

#bottom-half {
    overflow: hidden;
    border-top: 1px solid #7fa3c8;
    border-bottom: 1px solid #ffffff;
    background: url(../images/bottom-pattern.png) repeat;
}

#body-content {
    width: 100%;
    margin: 0px 0px 40px 0px;
    overflow: hidden;
}

#body-content h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
    font-weight: 300;
    color: #7a7a7a;
    margin: 10px 12px 0px 0px;
}

#widgets {
    width: 100%;
    margin: 33px 0px 45px 0px;
    float: left;
    overflow: hidden;
}

.widget-column {
    width: 320px;
    float: left;
    background: #ffffff;
    margin-left: 15px;
    border: 1px solid #c6c6c6;
    border-top: 4px solid #739fcd;
    border-radius: 5px;
    overflow: hidden;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
    min-height: 320px;
}

.widget-title {
    background: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    border-bottom: 1px solid #d5d5d5;
    color: #739fcd;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    padding: 15px 5px 15px 25px;
}

.widget-body {
    height: 400px;
    overflow: hidden;
}

.twtr-wdgt {
    padding: 0px 15px 0px 15px;
}

.twitter-icon {
    background:url(../images/twitter-icon.png) center left no-repeat;
    padding:0 45px 0 0;
    white-space:nowrap;
}

.about-icon {
    background:url(../images/about-icon.png) center left no-repeat;
    padding:0 65px 0 0;
    white-space:nowrap;
}

.location-icon {
    background:url(../images/location-icon.png) center left no-repeat;
    padding:0 40px 0 0;
    white-space:nowrap;
}

h3.location {
    letter-spacing: 1px;
    color: #7f7f83;
    font-size: 24px;
    line-height: 34px;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    float: left;
    text-align: center;
    margin: 15px 0px 15px 0px;
}

#location-container {
    height:310px;
    overflow: hidden;
    clear: both;
}

#map {
    background:url(../images/our-location.png);
    width: 279px;
    height: 183px;
    margin: 10px auto;
    overflow: hidden;
}

.about {
    color: #7f7f83;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    text-align: justify;
    margin: 15px 0px 15px 0px;
    padding: 0px 19px 0px 19px;
}

.about-wdgt img {
    margin: 15px 0px 0px 16px;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

.contact-btn {
    display: block;
    font-size: 15px;
    text-decoration: none!important;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    box-shadow: inset 0px 0px 2px white;
    -o-box-shadow: inset 0px 0px 2px #fff;
    -webkit-box-shadow: inset 0px 0px 2px white;
    -moz-box-shadow: inset 0px 0px 2px #fff;
    margin: 30px auto;
    width: 70%;
    text-align: center;
    color: #fff;
    border: 1px solid #739FCD;
    background: #739fcd; /* Old browsers */
    background: -moz-linear-gradient(top,  #739fcd 0%, #6c98c5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#739fcd), color-stop(100%,#6c98c5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #739fcd 0%,#6c98c5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #739fcd 0%,#6c98c5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #739fcd 0%,#6c98c5 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #739fcd 0%,#6c98c5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#739fcd', endColorstr='#6c98c5',GradientType=0 ); /* IE6-9 */
}

.follow-btn {
    display: block;
    font-size: 15px;
    text-decoration: none!important;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    box-shadow: inset 0px 0px 2px white;
    -o-box-shadow: inset 0px 0px 2px #fff;
    -webkit-box-shadow: inset 0px 0px 2px white;
    -moz-box-shadow: inset 0px 0px 2px #fff;
    margin: 25px auto;
    width: 80%;
    text-align: center;
    color: #fff;
    border: 1px solid #739FCD;
    background: #739fcd; /* Old browsers */
    background: -moz-linear-gradient(top,  #739fcd 0%, #6c98c5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#739fcd), color-stop(100%,#6c98c5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #739fcd 0%,#6c98c5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #739fcd 0%,#6c98c5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #739fcd 0%,#6c98c5 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #739fcd 0%,#6c98c5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#739fcd', endColorstr='#6c98c5',GradientType=0 ); /* IE6-9 */
}

footer {
    height: 50px;
    background: #ffffff;
    border-top: 1px solid #cccccc;
    bottom:0;
    width:100%;
    position:absolute;
    overflow: hidden;
    font-size: 15px;
    line-height: 50px;
    text-decoration: none!important;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #868686;
}

/********************* TWITTER WIDGET *************************/

#twitter {
    margin-top: 20px;
    clear: both;
    overflow: hidden;
    height:295px;
}

#jtwt {
    list-style: none;
}
	
#jtwt li {
    margin: 5px 0px 5px 0px;
    width: 100%;
    float: left;
    border-bottom: 1px solid #D5D5D5;
    padding-bottom: 10px;
}
	
#jtwt li:last-child {
    margin-bottom: 0px;
    border-bottom: none;
}
	
#jtwt_loader {
    font-weight: bold;
    }
	
.jtwt_picture {
    float: left;
    margin-right: 10px;
}

.jtwt_picture img {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;  
}
	
p.jtwt_tweet_text {
    text-align: justify;
    color: #7f7f83;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
}

p.jtwt_tweet_text a {
    color: #739fcd;
    text-decoration: none;
}
	
a.jtwt_date {
    font-size: 12px;
    display: none;
}


